* {
    font-family: Arial, Helvetica, sans-serif;
}

.title {
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    text-align: center;
    background-image: url('../images/pattern.jpg')
}

.brushes,
.frames,
.paint {
    font-size: 32px;
    font-weight: bold;
    color: white;
}

.brushes {
    background-color: mediumspringgreen;
}

.frames {
    background-color: lightcoral;
}

.paint {
    background-color: skyblue;
}

.prices  {
    font-weight: bold;
    color: blue;
}